html {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box
    
    }


    .logoWatts{
        width: 7vw;
        position: fixed;
        bottom: 20px;
        right: 30px;
    }


    h1{
        color: $secondaryColor;
        background-color: $mainColor;
        height: 70px;
        padding: 0.2em;
    }